@page "/admin"
@inject IAccountController accountController
@inject IUserController userController
@inject IAccountController accountController
@inject IOrderController orderController
@inject IMailService mailService
@implements IDisposable

<section>
    <h1 class="heading">Admin <span>Panel</span></h1>
    <select @bind="selected" class="_input">
        <option value="1">Fund  Users Wallet</option>
        <option value="2">View All Users Wallet</option>
        <option value="3">View Wallet Notifications</option>
        <option value="4">Add Account Info</option>
        <option value="5">View All New Orders</option>
    </select>
    @switch (selected)
    {
        case 1:
            <div class="admin-form">
                <span class="@msgClass">@message</span>
                <input @onblur="(() => SearchWallet(walletSearchValue))" @bind-value="walletSearchValue" placeholder="Search user wallet Id"/>
                <select @onchange="SelectWallet">
                    <option value="">Available Wallets</option>
                    @foreach (var wallet in allWallets)
                    {
                        <option value="@wallet.WalletId">@wallet.WalletId</option>
                    }
                </select>
                <input readonly @bind-value="user.Username" placeholder="User's Wallet Name" />
                <input readonly @bind-value="selectedWallet.WalletId" placeholder="User's Wallet Id" />
                <input placeholder="Wallet Fund" @bind-value="creditAmount" />
                <button @onclick="ModifyFunds">Modify Funds</button>
            </div>
            break;
        case 2:
            <UserWalletBalanceView Wallets="allWallets" Users="users"/>
            break;
        case 3:
            <WalletNotification IsFromAdmin=true allWalletNotifications="walletNotifications"/>
        break;
        case 4:
            <div class="admin-form">
                <span class="@msgClass">@message</span>
                <input @bind-value="accountNumber.Account_Name" placeholder="Enter Account Name"/>
                <input @bind-value="accountNumber.Account_Number" placeholder="Enter Account Number" />
                <input @bind-value="accountNumber.Bank" placeholder="Enter Bank Name" />
                <button @onclick="AddAccountNumber">Add Account</button>
            </div>
            break;
        case 5:
            <NewOrderTable orders="newOrders" TableTitle="Orders" IsAdminAuthorized="true" />
            break;
        default:
        <div></div>
        break;
    }

</section>

@code{
    int selected = 1;
    char naira = (char)8358;
    string msgClass = "error";
    string walletSearchValue = "";
    string message = "";
    User user = new User();
    double creditAmount = 0;
    List<Wallet> allWallets = new();
    Wallet selectedWallet = new();
    AccountNumber accountNumber = new();
    List<string> skipWalletFundingHeader = new() { "Id", "UserId" };
    List<AccountNotification> walletNotifications = new();
    List<AccountNotification> allWalletNotifications = new();
    List<NewOrder> newOrders = new();
    List<User> users = new();
    protected override async Task OnInitializedAsync()
    {
        allWallets = await accountController.GetAndDecryptAllEncryptedData<Wallet>(DataFrom.wallet);
        walletNotifications = (await accountController.GetAccountNotifications("admin")).OrderByDescending(x => x.Date).ToList(); ;
        newOrders = (await orderController.GetAllNewOrdersForEasyLifeUpdate()).OrderByDescending(x => x.Date).ToList();
        users = await userController.ReadAllUsers();
    }
    private void SelectWallet(ChangeEventArgs e)
    {
        SearchWallet(e.Value?.ToString() ?? "");
        walletSearchValue = string.Empty;
    }
    private void SearchWallet(string walletId)
    {
        if (!string.IsNullOrEmpty(walletId))
        {
            selectedWallet = allWallets.Find(w => w.WalletId.Equals(walletId)) ?? new();
            if (selectedWallet.UserId != "")
            {
                user = userController.ReadUser(selectedWallet.UserId).Result;
                message = "";
            }
            else
            {
                user = new();
                msgClass = "error";
                message = "Wallet not Found! kindly choose from the drop-down list";
            }
        }
        else
        {
            user = new();
            selectedWallet = new();
        }
    }
    private async void ModifyFunds()
    {
        if (selectedWallet.EncryptionId != "" && selectedWallet.WalletId != "" && creditAmount > 0)
        {
            double previousBalance = selectedWallet.Balance;
            selectedWallet.Balance += creditAmount;
            string serializedData = JsonConvert.SerializeObject(selectedWallet);
            string encryptionId = selectedWallet.EncryptionId;
            DataFrom dataFrom = DataFrom.wallet;
            var isSaved = accountController.EncryptData(serializedData, encryptionId, dataFrom);
            if (isSaved.Result)
            {
                AddFundNotification(selectedWallet.WalletId, previousBalance, creditAmount, selectedWallet.Balance);
                message = "Fund Modified Successfully!!!";
                msgClass = "log";
                await mailService.Send("peters.soft.network@gmail.com", user.Email, "PSN wallet Funds Activation", $"Your PSN wallet {selectedWallet.WalletId} is successfully credited with {naira}{creditAmount.ToString("N0")} on {DateTime.Now.ToString("MMM dd, yyyy")} {DateTime.Now.ToString("hh:mm:ss tt")}. Thanks for keeping us in business.");
                previousBalance = 0;
                creditAmount = 0;
                selectedWallet = new();
                user = new();
            }
        }
    }
    private void AddFundNotification(string walletId, double previousBalance, double creditAmount, double currentBalance)
    {
        var notif = new AccountNotification()
            {
                Id = Guid.NewGuid().ToString(),
                UserId = user.Id,
                PaymentId = walletId,
                CreditType = CreditType.credit,
                PreviousBalance = previousBalance,
                TransactionalAmount = creditAmount,
                CurrentBalance = currentBalance,
                PaymentOption = PaymentOption.wallet,
                TransactionSection = TransactionSection.admin,
                Message = $"Credit of {naira} {creditAmount} from Admin to your Wallet",
                Date = DateTime.Now
            };
        var isAdded = accountController.CreateAccountNotification(notif);
    }
    private void AddAccountNumber()
    {
        if (!string.IsNullOrEmpty(accountNumber.Account_Number))
        {
            accountNumber.Id = Guid.NewGuid().ToString();
            var isAdded = accountController.CreateAccountNumber(accountNumber);
            if (isAdded.Result)
            {
                accountNumber = new();
                message = "Account added successfully";
                msgClass = "log";
            }
        }
    }
    public void Dispose()
    {
        allWallets = new();
    }
}
