<section class="product">
<div class="special">
    <div class="box">
        <div class="col-2">
                <img src="@Filepath" alt="product">
        </div>
        <div class="col-2">
            <h1> Product Name</h1>
            <h1>@naira 2500</h1>
            <p>
                    some descriptive text to promote the product
            </p>
            <button class="btn">Buy Now</button>
        </div>
    </div>
</div>
    <h1 class="heading">All <span>Products</span></h1>
    <div class="scroller-btns">
        <span>All</span>
        <span>Shoes</span>
        <span class="active">Fashion</span>
        <span>Others</span>
        <span>Others2</span>
        <span>Others3</span>
        <span>Others4</span>
        <span>Others5weynosabi</span>
    </div>
    <div class="box-container">
        <div class="box">
            <div class="icons">
                <i class="fas fa-trash"></i>
                <i class="fas fa-user"></i>
                <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="img">
                <img src="@Filepath" alt="product-img" />
            </div>
            <h3>vegetables</h3>
            <p>N15,000</p>
            <button class="btn">Buy Now</button>
        </div>
        <div class="box">
            <div class="img">
                <img src="@Filepath" alt="product-img" />
            </div>
            <h3>vegetables</h3>
            <p>N15,000</p>
            <button class="btn">Buy Now</button>
        </div>
        <div class="box">
            <div class="img">
                <img src="@Filepath" alt="product-img" />
            </div>
            <h3>vegetables</h3>
            <p>N15,000</p>
            <button class="btn">Buy Now</button>
        </div>
        <div class="box">
            <div class="img">
                <img src="@Filepath" alt="product-img" />
            </div>
            <h3>vegetables</h3>
            <p>N15,000</p>
            <button class="btn">Buy Now</button>
        </div>
        <div class="box">
            <div class="img">
                <img src="@Filepath" alt="product-img" />
            </div>
            <h3>vegetables</h3>
            <p>N15,000</p>
            <button class="btn">Buy Now</button>
        </div>
    </div>
</section>

@code {
    string Filepath = "./img/yellow.jpg";
    char naira = (char)8358;
}
