@inject IProductController productController
@inject IStore store
@inject SignalRService signalR
@inject NavigationManager navigationManager
@implements IDisposable

@if (products.Count == 0)
{
    <ProductDemo/>
}
else
{
    <section class="product">
        <ProductBanner />
        <h1 class="heading">@displayCategory <span>Products : @products.Count</span></h1>
        <div class="scroller-btns">
            <span @onclick="(() => GetCategoryProducts(all))" class="@GetActiveClass(all)">All</span>
            <span @onclick="(() => GetCategoryProducts(latest))" class="@GetActiveClass(latest)">Latest</span>
            @foreach (var cat in categories)
            {
                <span @onclick="(() => GetCategoryProducts(cat))" class="@GetActiveClass(cat)">@cat</span>
            }
        </div>


        @for(int m = 1; m < 5; m++)
        {
            if (m < 4)
                range = increment * m;
            else
                range = products.Count;
            productAfterAdsCount = 0;
            <div class="box-container">
                @for (var i = productIndex; i < products.Count; i++)
                {
                    if (i == range) break;
                    var product = products[i];
                    @if (product.IsProductInStock)
                    {
                        <div class="box">
                            @if (!string.IsNullOrWhiteSpace(product.Filepath))
                            {
                                <div @onclick="(() => View(product.Id))" class="img">
                                    <img loading="lazy" src="@product.Filepath" alt="product">
                                </div>
                                <div class="icons">
                                    @if (!string.IsNullOrEmpty(store.State().ActiveUser.User.Id) && store.State().ActiveUser.User.IsAdmin)
                                    {
                                        <i @onclick="(() => {showDel =! showDel; deleteId = product.Id;})" class="fas fa-trash"></i>
                                        <i @onclick="(() => EditProduct(product))" class="fa-solid fa-pen-to-square"></i>
                                        @if (showDel && product.Id == deleteId)
                                        {
                                            <span>Confirm <i @onclick="(() => DeleteProduct(product.Id))" class="fas fa-trash"></i></span>
                                        }
                                    }
                                </div>
                                <h3>
                                    @product.Name &nbsp;&nbsp;
                                    <i @onclick="(() =>AddToCart(product))" class="fas fa-shopping-cart"></i>
                                </h3>
                                <p>@naira @product.Price.ToString("N0")</p>
                                <button @onclick="(() =>ShowAndAddToCart(product))" class="btn">Buy Now</button>
                            }
                        </div>
                    }
                    productAfterAdsCount++;
                    productIndex++;
                }
            </div>
            if (productAfterAdsCount >= 3)
            {
                switch (m)
                {
                    case 1:
                        <Ads section="products" />
                        break;
                    case 2:
                        <Counter />
                        break;
                    case 3:
                        <Ads />
                        break;
                    default:
                        break;
                }
            }
        }

    </section>
}

@code{
    List<Product> products = new();
    bool showDel = false;
    string deleteId = "";
    string displayCategory = "All";
    Product special = new();
    List<string> categories = new();
    char naira = (char)8358;
    string all = "all"; 
    string latest = "latest";
    private string activeCategory = "all";
    int increment = 0;
    int productIndex = 0;
    int range = 0;
    int productAfterAdsCount = 0;
    //bool isProductsUpdated = false;
    public HubConnection hubConnection => signalR.HubConnection;
    [Inject]
    private IWebHostEnvironment? _environment { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if(store.State().ProductItems.Products.Count > 0)
        {
            products = store.State().ProductItems.Products.ToList<Product>();
        }
        else
        {
            products = await productController.GetProducts();
            if (products.Count > 0)
            {
                products = (products.OrderByDescending(p => p.Date)).ToList<Product>();
                store.UpdateProducts(products);
            }
        }
        if (store.State().CategoryList.Categories.Count > 0)
        {
            categories = store.State().CategoryList.Categories.ToList<string>();
        }
        else
        {
            categories = await productController.GetCategories();
            if (categories.Count > 0)
            {
                store.SetProductCategoryList(categories);
            }
        }
        InitializeIncrement();
        signalR.HubConnection.On<List<Product>>("UpdateProducts", UpdateProductsViaSignalR);
        store.AddStateChangedListeners(() => { StateHasChanged(); });
    }
    protected override void OnAfterRender(bool firstRender)
    {
        productIndex = 0;
    }
    private void InitializeIncrement()
    {
        int productCount = store.State().ProductItems.Products.Count;
        if (productCount < 6)
        {
            increment = productCount;
        }
        else if (productCount >= 6)
        {
            increment = 6;
        }
        else if (productCount >= 36)
        {
            increment = 12;
        }
    }
    private void ToggleActiveClass(string clickedCategory)
    {
        if (clickedCategory == activeCategory)
        {
            activeCategory = "";
        }
        else
        {
            activeCategory = clickedCategory;
        }
    }

    private string GetActiveClass(string category)
    {
        return category == activeCategory ? "active" : "";
    }
    private void GetCategoryProducts(string cat)
    {
        var _products = new List<Product>();
        if (cat == "latest")
        {
            _products = (store.State().ProductItems.Products.Where(p => DateTime.Now.Subtract(p.Date).TotalDays <= 7)).ToList<Product>();
        }
        else
        {
            _products = (store.State().ProductItems.Products.Where(p => p.Category == cat)).ToList<Product>();
        }

        if (_products.Count > 0)
        {
            products = _products;
        }
        else
        {
            products = store.State().ProductItems.Products.ToList<Product>();
            cat = "all";
        }
        displayCategory = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(cat);
        ToggleActiveClass(cat);
    }

    private void View(string id)
    {
        navigationManager.NavigateTo($"/view/{id}");
    }
    private async void DeleteProduct(string id)
    {
        bool isDel = false;
        try
        {
            isDel = await productController.DeleteProduct(id);
            if (isDel)
            {
                var prd = store.State().ProductItems.Products.FirstOrDefault(p => p.Id == id);
                if (prd != null && prd.Id != "")
                {
                    DeleteImage(prd.Filepath);
                    var prods = (store.State().ProductItems.Products.Where(p => p.Id != prd.Id).OrderByDescending(p => p.Date)).ToList<Product>();
                    await signalR.HubConnection.SendAsync("UpdateProducts", prods);
                }
                showDel = !showDel;
            }
        }
        catch (Exception)
        {
            isDel = false;
        }
    }
    public void DeleteImage(string filePath)
    {
        if (_environment != null)
        {
            string imagePath = Path.Combine(_environment.WebRootPath, filePath);

            if (File.Exists(imagePath))
            {
                File.Delete(imagePath);
            }
        }
    }
    private void ShowAndAddToCart(Product product)
    {
        if (string.IsNullOrEmpty(store.State().ActiveUser.User.Id))
        {
            store.LoginClick(false,true);
        }
        else
        {
            store.AddToCart(product);
            store.ShowCart(true);
        }
    }
    private void AddToCart(Product product)
    {
        store.AddToCart(product);
    }
    private void UpdateProductsViaSignalR(List<Product> _products)
    {
        products = _products;
        store.UpdateProducts(products);
        //isProductsUpdated = true;
        InvokeAsync(() => { StateHasChanged(); });
    }
    private void EditProduct(Product product)
    {
        store.ChangeProductVal(product);
        store.ShowUpload(true);
    }

    public void Dispose()
    {
        store.RemoveStateChangedListeners(() => { StateHasChanged(); });
    }
}