@inject IStore store
@inject IProductController productController

<section class="dynamic-table">
    <div class="table-header">
        <h1 class="heading">Vendors</h1>
    </div>
    <div class="table @tableSizeClass">
        <div class="table-body">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Is Approved</th>
                        <th>Image</th>
                        <th>Select Vendor</th>
                        @if (store.State().ActiveUser.User.IsAdmin)
                        {
                            <th>Delete</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var d in dispatchedProducts)
                    {
                        @if (d.VendorId == store.State().ActiveUser.User.Id || store.State().ActiveUser.User.IsAdmin)
                        {
                            <tr>
                                <td>@d.Product.Name</td>
                                <td>@d.Product.Price</td>
                                <td>@d.Quantity</td>
                                @if (d.DispatchStatus == OrderStatus.Approved)
                                {
                                    <td class="icon"><i class="fas fa-check log"></i></td>
                                }
                                else
                                {
                                    <td class="icon"><i class="fas fa-x error"></i></td>
                                }
                                <td><img class="table-img" src="@d.Product.Filepath" alt="No img" /></td>
                                @if ( d.DispatchStatus.Equals(OrderStatus.Approved))
                                {
                                    <td @onclick="(() => ModifyDispatch(d))" class="yellow cursor-pointer">Cancel</td>
                                }
                                else if (d.DispatchStatus.Equals(OrderStatus.Pending))
                                {
                                    <td @onclick="(() => ModifyDispatch(d))" class="error cursor-pointer">Not Approved</td>
                                }
                                @if (store.State().ActiveUser.User.IsAdmin)
                                {
                                    <td @onclick="(() => DeleteDispatch(d.Id))" class="icon"><i class="fas fa-trash error"></i></td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@code {
    List<DispatchProduct> dispatchedProducts = new();
    string tableSizeClass = "";
    int count = 1;
    protected async override Task OnInitializedAsync()
    {
        if (store.State().Dispatched.Products.Count > 0)
        {
            dispatchedProducts = store.State().Dispatched.Products.OrderBy(p => p.VendorId).OrderByDescending(x => x.Date).ToList();
        }
        else
        {
            var _dispatchedProducts = await productController.GetDispatchedProducts();
            dispatchedProducts = _dispatchedProducts.OrderBy(p => p.VendorId).OrderByDescending(x => x.Date).ToList();
            store.UpdateDispatchedProducts(dispatchedProducts);
        }
    }
    protected override void OnAfterRender(bool firstRender)
    {
        count = 1;
        InitializeTableSize();
    }
    public void InitializeTableSize()
    {
        if (dispatchedProducts.Count > 5)
        {
            tableSizeClass = "large";
        }
        else
        {
            tableSizeClass = "scanty";
        }
    }
    private async void DeleteDispatch(string id)
    {
        var del = await productController.DeleteDispatchedProduct(id);
    }
    void ModifyDispatch(DispatchProduct d)
    {
        
    }
}
